body{
    background-color:  #f7ecde;
    font-family: "PT Sans Caption", sans-serif;
}
::selection{
    color: black;
    background-color: #fec260;
}
main h1{
    font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;  
}
main h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;

}

main h1:hover::before{
    height: 50%;
}
main .bookmark-content{
    border-width: 2px 0 2px 0;
    border-style: dotted ;
    color: #352e28;
}
.bookmark-content h2{
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-submit {
    background-color: #D1512D;
    color: white ;
    padding: 6px 48px;
    font-size: 16px;
    
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .btn-visit{
    background-color: #9eb23b;
    color: #fff;
    padding: 6px 12px;
    
    
    

  }
  .btn-delete{
    background-color: #eb1d36;
    color: #fff;
    padding: 6px 8px 6px 12px;

  }
  .btn-delete:hover{
    background-color: #d30820;
    border-color: #ba081d;
    color: #fff;
  }
  .btn-visit:hover{
    background-color: #8a9e23;
    border-color: #6e8018;
    color: #fff;

  }
  .btn-submit:hover {
    background-color: #bb4120;
    border-color: #a03315;
    color: white;
  }
  .btn-submit:focus{
    background-color: transparent;
    border-color: black;
    color: black;
  }
  .my-modal {
   
    background-color: rgba(0, 0, 0, 0.4);  
  }
  
.color-circles span:nth-child(1) {
    background-color: #f15f5d;
}
.color-circles span:nth-child(2) {
    background-color: #febe2e;
}
.color-circles span:nth-child(3) {
    background-color: #4db748;
}
.color-circles span {
    display: block;
    width: 20px;
    height: 20px;
}
.my-modal .content{
    width: 500px;
    z-index: 10;
}
.my-modal .content p{
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}

.my-modal .content ol li{
    font-size: 18px;
}
.my-modal .content .rules i {
    color: #bb4120;
}

.my-modal .content .rules li {
    font-size: 18px;
    padding-top: 10px;
}
.form-control{
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control:focus.empty {
    border: 1px solid #febe2e !important;
    outline: #febe2e !important;
    box-shadow: 0 0 0 0.25rem #fec26055;
  }
  

  td {
    text-align: center;   
    vertical-align: middle; 
  }
  